video {
  width: 100%;
  height: 100%;
  margin-top: 6em;
}

#buttons-overlay, #screenshot-backdrop {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  padding: 2em;
}

#buttons-overlay {
  background: rgba(0, 0, 0, 0.9);
  color: white;
}


#screenshot-backdrop {
  bottom: 0;
  background: white;
  text-align: center;
  line-height: 2em;
}